<div>
  <p>
    To-Do List:<span
      [ngClass]="{
        moreThanThreeStyle: todoArray.length > 3,
        lessThanThreeStyle: todoArray.length < 3
      }"
      >{{ todoArray.length }}</span
    >
  </p>
  <input type="text" [(ngModel)]="userInput" />
  <button (click)="addNewHobbies()">Add Item</button>
  <app-todo-list
    [items]="this.todoArray"
    (deleteItem)="handleRemoveItem($event)"
  ></app-todo-list>
  <p
    class="operationNotice"
    [ngClass]="{
      hidden: operationNoticeStyle.hidden,
      deleted: operationNoticeStyle.deleted,
      add: operationNoticeStyle.add
    }"
  >
    {{ operationNoticeMsg }}
  </p>
</div>
