<div>
  <p>
    To-Do List:<span
      [ngClass]="{
        moreThanThreeStyle: todoArray.length > 3,
        lessThanThreeStyle: todoArray.length < 3
      }"
      >{{ todoArray.length }}</span
    >
  </p>
  <div class="input-group mb-3 w-25">
    <div class="input-group-append">
      <button
        class="btn btn-outline-primary"
        type="button"
        id="utton-addTodo"
        (click)="addNewHobbies()"
      >
        Add Item
      </button>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder=""
      aria-label="add to do item"
      aria-describedby="button-addTodo"
      [(ngModel)]="userInput"
    />
  </div>

  <app-todo-list
    [items]="this.todoArray"
    (deleteItem)="handleRemoveItem($event)"
    (doneItem)="handleItemDone($event)"
  ></app-todo-list>
  <p
    class="operationNotice"
    [ngClass]="{
      hidden: operationNoticeStyle.hidden,
      deleted: operationNoticeStyle.deleted,
      add: operationNoticeStyle.add
    }"
  >
    {{ operationNoticeMsg }}
  </p>
</div>
